
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d2b68;
    min-height: 100vh;
}


.container{
    width: 90%;
    max-width: 900px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
    margin: 40px auto;

}

h1{
    text-align: center;
    color: #1d2b68;
    margin-bottom: 20px;
}

.formulario{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button{
    background-color: #1d2b68;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #3147a8;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #1d2b68;
    color: white;
}

th,
td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}


.navbar{
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    display: block;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li{
    display: inline;
    margin: 0 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: yellow;
}
