

   <!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Almoxarifado</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='estoque.css') }}">
</head>

<body>
    <nav class="navbar">

        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>

    <div class="container">

        <h1>Controle de Almoxarifado</h1>

        <div class="formulario">

            <input
                type="text"
                id="nomeProduto"
                placeholder="Nome do produto">

            <input
                type="number"
                id="quantidadeProduto"
                placeholder="Quantidade">

            <button onclick="adicionarProduto()">
                Adicionar Produto
            </button>

        </div>

        <table>

            <thead>

                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Entrada</th>
                    <th>Descrição</th>
                    <th>imagem</th>
                    <th>Saída</th>
                    <th>Excluir</th>
                </tr>

            </thead>

            <tbody id="tabelaProdutos">

            </tbody>

        </table>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
