<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN SENAI</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
       
    <img src="../static/senai.jpg" id="imagem-centralizada">
        
    <div class="login-card">
        <br><br>
        <h2>Login</h2>
        <br><br>
        
        <form action="home.html" method="POST">
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" name="email">
            </div>
            <br><br>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password">
            </div>
            <br>
            
            <button type="submit" class="btn">Entrar</button>
        </form>

        </div>
    </div>
        
    <img id="logosenai" src="../static/logosenai.jpg">

</body>
</html>

