<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN SENAI</title>
    <link rel="stylesheet" href="../static/style.css"
    </head>
    <body>
       
        <img src="../static/senai.jpg" id="imagem-centralizada">
        

         

        <div class= "login-card">
            <br>
            <br>
            <h2>Login</h2>
            <br>
            <br>
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" placeholder="seu-email@exemplo.com" required>

                </div>
                    <br>
                    <br>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
                </div>
                <br>
                <button type="submit">Entrar</button>
                </div>
            </form>
            <br>
            <div class="card-footer">
            <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
            </div>
        </div>
        
        <img id="logosenai" src="../static/logosenai.jpg">


    </body>
